# python
venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# node
node_modules/

# Jetbrains
.idea/

# tmp files
*.swp
*~
~
.DS_Store

# VS Code
.vscode/

