<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/main.css">
  <title>Noteify</title>
</head>

<body>
  <div id="content"> </div>

  <div class="split left">
    <div class="centered">
      <h2 class="white">Upload a File below:</h2>
      <!-- File Upload Code -->
      <form class="col s12">
        <div class="row">
          <label>Materialize File Input</label>
          <div class="file-field input-field">
            <div class="btn">
              <span>Browse</span>
              <input type="file" />
            </div>

            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload file" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="split right">
    <div class="centered">

    </div>
  </div>
  <script src="public/bundle.js" type="text/javascript"></script>
</body>

</html>