/* Default */
body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

/* EndDefault */

/* Split */
.split {
	height: 80%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.leftScreen {
	left: 0;
	background-color: #111;
	color: white;
}

.rightScreen {
	right: 0;
	background-color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.centered img {
	width: 150px;
	border-radius: 50%;
}

/* EndSplit */

/* Pulse */
.pulse {
	margin: 100px;
	display: block;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: #2e76ea;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(124, 174, 255, 0.4);
	animation: pulse 2s infinite;
}

.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(124, 174, 255, 0.4);
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(124, 174, 255, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(124, 174, 255, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(124, 174, 255, 0.4);
		box-shadow: 0 0 0 0 rgba(124, 174, 255, 0.4);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px rgba(124, 174, 255, 0);
		box-shadow: 0 0 0 10px rgba(124, 174, 255, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(124, 174, 255, 0);
		box-shadow: 0 0 0 0 rgba(124, 174, 255, 0);
	}
}
/* EndPulse */

/* Extras */
/* EndExtras */