<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <link rel="shortcut icon" href="images/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="aos/dist/aos.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="631732a18a7a1eff73287d6e-" defer=""></script>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>NoiceML</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="zeoLK826In-bM1O5WsfYFHSHOAkOiZqrDSRLo3piN2k"/>


    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>
    <!-- <script src="js/pace.min.js"></script> -->

    <!-- favicons
    ================================================== -->

</head>

<body id="top">
    <!-- home
    ================================================== -->
    <section id="home">
        <div id="particles-js">
            <div class="home-text" data-aos="fade-up">
                <h1 class="home-title">NoiceML</h1>
                <h3 class="home-subhead">Notes simplified</h3>
            </div>
        </div>
    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">


        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light">Who We Are</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-md-6">
                  <p align=left>
                    Taking notes has never been easier.
                    NoiceML is a collaborative note-taking
                    app leveraging natural language processing
                    and intelligent translation APIs in order
                    to simplify and enhance notetaking.
                </p>
            </div>
            <div class="container">
              <img class="image" src="../images/image.png" alt="">
            </div>
        </div> <!-- end about-desc -->


        <div class="wrapper" data-aos="fade-up">
          <a href="notes.html">
          <button type="button" class="btn btn-primary btn-circle btn-xl button"><i class="glyphicon glyphicon-list">Get Started</i></button>
          </a>
        </div>
        <div class="about__line"></div>


    </section> <!-- end s-about -->

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>



</body>

</html>
